#date-range * {
    font-size: 1rem;
}

#backtesting-container-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 600px;
    grid-template-areas: 
        "options1"
        "figure";
}

#summary-candle-plot {
    grid-area: figure;
}

#global-options-container {
    justify-content: space-evenly;
    padding-left: 30px;
    grid-area: options1;
    background-color: var(--colors-background);
    border-radius: var(--border-radius);
    gap: 20px;
}

#backtesting-container-2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 500px 1fr;
    grid-template-areas: 
        "options options options"
        "strategies strategies strategies"
        "figure figure figure"
        "start-wallet end-wallet - ";
}

#analytics-candle-plot {
    grid-area: figure;
}

.candle_plot {
    height: 100%;
}

#analytics-candle-plot {
    grid-area: figure;
}

#analytics-options {
    grid-area: options;
}

#strategies {
    grid-area: strategies;
}

#symbols {
    width: 200px;
}

#symbols * {
    color: var(--colors-text-2);
}

.time-range-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
        "date1 date2"
        "time1 time2";
    gap: 20px;
    justify-items: center;
    align-items: center;
}

#start-day {
    grid-area: date1;
}

#end-day {
    grid-area: date2;
}

#start-time {
    grid-area: time1;
}

#end-time {
    grid-area: time2;
}

.wallet-grid {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
        "a-coin b-coin"
        "total -";
    gap: 20px;
    justify-items: start;
    align-items: center;
}

#start-wallet {
    grid-area: start-wallet;
}

#end-wallet {
    grid-area: end-wallet;
}

.a-coin{
    grid-area: a-coin
}
.b-coin{
    grid-area: b-coin
}
.total{
    grid-area: total
}

.strategy-container{
    border: solid 1px white;
    min-height: 150px;
    padding: 20px;
    border-radius: var(--border-radius);
}

.slider {
    min-width: 200px;
}
