
@media (max-width: 1200px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 300px;
        grid-template-areas: 
            "figure figure"
            "options1 options2";

    }
}