*{
    box-sizing: border-box;
    margin: 0;
    font-size: var(--global-font-size);
    word-spacing: 3px;
}

a {
    text-decoration: none;
    color: var(--dark-yellow);
    font-family: var(--font-text);
    padding-left: 10px;
}

a:hover {
    color: var(--light-yellow);
}

.body {
    background-color: var(--colors-background);
    color: var(--colors-text);
    padding: 10px 50px;
    font-family: var(--font-text);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.title {
    font-size: 3rem;
    color: var(--dark-yellow);
    padding: 10px 20px 0 0 ;
}

.description {
    font-size: 1.3rem;
    color: var(--dark-yellow);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 600px;
    grid-template-areas: 
        "figure options1";
    gap: 50px;
    justify-content: flex-start;
    background-color: var(--gray5);
    border-radius: 20px;
    padding: 50px;
    margin-top: 70px;
}

.main-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 600px 1fr;
    grid-template-areas: 
        "options2 options2"
        "figure figure"
        "result1 result2";
    gap: 50px;
    justify-content: flex-start;
    background-color: var(--gray5);
    border-radius: 20px;
    padding: 50px;
    margin-top: 70px;
}

.candle_1m-container {
    grid-area: figure;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.result1-container {
    grid-area: result1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.result2-container {
    grid-area: result2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.candle_plot-container {
    grid-area: figure;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.candle_1m {
    height: 100%;
}

.candle_plot {
    height: 100%;
}

.options1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    grid-area: options1;
    background-color: var(--colors-background);
    border-radius: 20px;
    gap: 20px;
}

.options2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    grid-area: options2;
    background-color: var(--colors-background);
    border-radius: 20px;
    gap: 20px;
}

#symbols {
    width: 200px;
    color: black;
}

.symbols-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}


.big-numbers {
    font-size: 2rem;
    color: var(--dark-yellow);
}

.space{
    padding: 0 10px;
    font-size: 2rem;
}

.wallet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 50px 70px 30px 30px;
    grid-template-areas: 
    "title title"
    "A_title B_title"
    "A B"
    "total_text total_text"
    "total total";
    align-items: center;
    justify-items: center;
    gap: 10px;
}



.title-wallet {
    grid-area: title;
    font-size: 2rem;
}

#start-wallet-1-title, #end-wallet-1-title {
    grid-area: A_title;
}

#start-wallet-2-title, #end-wallet-2-title {
    grid-area: B_title;
}

#start-wallet-1, #end-wallet-1 {
    grid-area: A;
}

#start-wallet-2, #end-wallet-2 {
    grid-area: B;
}

.total-text {
    grid-area: total_text;
}

#start-wallet-total, #end-wallet-total {
    grid-area: total;
}

#start-wallet-ratio-1, #start-wallet-ratio-2 {
    width: 80px;
    height: 60px;
    border-radius: 20px;
    font-size: 1.3rem;
    margin: 20px;
}

.num-input-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.time_range-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 50px 50px;
    grid-template-areas: 
        "label label"
        "date1 date2"
        "time1 time2";
    gap: 20px;
    justify-items: center;
    align-items: center;
}

#time_range-label {
    grid-area: label;
}

#start_day {
    grid-area: date1;
}

#end_day {
    grid-area: date2;
}

#start_time {
    grid-area: time1;
}

#end_time {
    grid-area: time2;
}

.Timeinput > *{
    width: 100px;
    color: white;
}

@media (max-width: 1200px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 300px;
        grid-template-areas: 
            "figure figure"
            "options1 options2";

    }
}