*{
    box-sizing: border-box;
    margin: 0;
    font-size: var(--global-font-size);
    word-spacing: 3px;
}

a {
    text-decoration: none;
    color: var(--dark-yellow);
    font-family: var(--font-text);
    padding-left: 10px;
}

a:hover {
    color: var(--light-yellow);
}

.body {
    background-color: var(--colors-background);
    color: var(--colors-text);
    padding: 10px 50px;
    font-family: var(--font-text);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.title {
    font-size: 3rem;
    color: var(--dark-yellow);
    padding: 10px 20px 0 0 ;
}

.description {
    font-size: 1.3rem;
    color: var(--dark-yellow);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 600px;
    grid-template-areas: 
        "figure options1";
    gap: 50px;
    justify-content: flex-start;
    background-color: var(--gray5);
    border-radius: 20px;
    padding: 50px;
    margin-top: 70px;
}

.main-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 600px 200px;
    grid-template-areas: 
        "options2 options2"
        "figure figure"
        "result1 result2";
    gap: 50px;
    justify-content: flex-start;
    background-color: var(--gray5);
    border-radius: 20px;
    padding: 50px;
    margin-top: 70px;
}

.candle_1m-container {
    grid-area: figure;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.result1-container {
    grid-area: result1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.result2-container {
    grid-area: result2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.candle_plot-container {
    grid-area: figure;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--colors-background);
}

.candle_1m {
    height: 100%;
}

.candle_plot {
    height: 100%;
}


.options1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    grid-area: options1;
    background-color: var(--colors-background);
    border-radius: 20px;
    gap: 20px;
}


.options2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    grid-area: options2;
    background-color: var(--colors-background);
    border-radius: 20px;
    gap: 20px;
}

#symbols {
    width: 200px;
    color: black;
}

.date_range-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}


.big-numbers {
    font-size: 2rem;
    color: var(--dark-yellow);
}

.space{
    padding: 0 10px;
    font-size: 2rem;
}

.wallet * {
    display: inline;
}

@media (max-width: 1200px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 300px;
        grid-template-areas: 
            "figure figure"
            "options1 options2";

    }
}