@import "basics.css";
@import "header.css";
@import "footer.css";
@import "tabs.css";
@import "backtesting.css";
@import "profile.css";

.Timeinput > *{
    width: 100px;
    color: white;
}

@media (max-width: 1200px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 300px;
        grid-template-areas: 
            "figure figure"
            "options1 options2";

    }
}